/* Sticky CSS Footer */
html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#main { padding-top: 2.0em; padding-bottom: 100px; }
footer { clear: both; position: relative; z-index: 10; height: 100px; margin-top: -100px; padding-top: 20px;}

header {
    padding-top: 12px;
}

header .nav .brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: -10px;
    color: #888;
}

#main h1 { font-size: 2.0em; }
#main hr.row { margin-top: 35px; }
#main hr { margin-bottom: 5px; }

#history {
    height: 340px;
    overflow-y: scroll;
}

.btn { margin-bottom: 5px; }
.btn-on { background: #ddd; }
.btn-off { background: #888; }

.ison { background: #0f0; }

footer { background: #eee; }
