<!doctype html>
<html ng-app="cmdr">
 <head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/js/controller.js"></script>
  <title>PSAS cmdr</title>
 </head>
 <body ng-controller="cmdrButtons" {% raw %}style="background:{{ background }};"{% endraw %}>

 <div class="wrapper">

  <header>
   <ul class="nav nav-tabs">
    <li><a class="brand" href="/"><img src="/static/img/psas.png" alt="logo" width="50" height="50"> cmdr </a></li>
    {% for tab in layouts %}
      <li {% if tab['slug'] == slug %}class="active"{% endif %}><a href="{{ tab['uri'] }}">{{ tab['name'] }}</a></li>
    {% endfor %}
   </ul>
  </header>

  <section id="main" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">

        {% for sec in sections %}
        {% set sec_loop = loop %}
          <section class="row">
             <div class="col-xs-12">
                <h1>{{ sec['title'] }}</h1>
                {% for cmd in sec['commands'] %}
                    {% if cmd['title'] == 'divider' %}
                      <hr class="row">
                    {% else %}
                      <div class="col-xs-3">
                        <button type="button" class="btn btn-block
                            {% if   cmd['importance'] == 'key' %}btn-lg
                            {% elif cmd['importance'] == 'minor' %}btn-sm
                            {% endif %}
                            {% if   cmd['danger'] == 'high' %}btn-danger
                            {% elif cmd['danger'] == 'medium' %}btn-warning
                            {% elif cmd['danger'] == 'low' %}btn-success
                            {% endif %}
                        " ng-disabled="busy" ng-click="fire('/cmd/{{ slug }}/{{ sec_loop.index0 }}/{{ loop.index0 }}', '{{ cmd['title'] }}')">{{ cmd['title'] }}</button>
                      </div>
                    {% endif %}
                {% endfor %}
             </div>
          </section>
        {% endfor %}

      </div>
      <div class="col-xs-12 col-md-6">

        {% raw %}
        <h1>Command History</h1>
        <hr>
        <div id="history">
        <table class="table table-striped">
         <thead>
          <tr>
            <th style="width:80px;">Time</th><th style="width:150px;">Command</th><th>Result</th>
          </tr>
         </thead>
         <tbody>
          <tr ng-repeat="history in responses">
            <td>{{ history.time }}</td><td>{{ history.cmd }}</td><td>{{ history.response }}</td>
          </tr>
         </tbody>
        </table>
        </div>

        <hr>
        <button type="button" class="btn" ng-click="clearHistory()">Clear History</button>

        {% endraw %}

      </div>
    </div>
  </section>

 </div>

  <footer class="container-fluid">
    <button type="button" class="btn" ng-click="settest()">Test Mode</button>
  </footer>
 </body>
</html>
