<!doctype html>
<html ng-app="cmdr">
 <head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/js/controller.js"></script>
  <title>PSAS cmdr</title>
 </head>
 <body ng-controller="cmdrButtons">

  <header>
   <ul class="nav nav-tabs">
    <li><a class="brand" href="/"><img src="/static/img/psas.png" alt="logo" width="50" height="50"> cmdr </a></li>
    {% for tab in layouts %}
      <li {% if tab['slug'] == slug %}class="active"{% endif %}><a href="{{ tab['uri'] }}">{{ tab['name'] }}</a></li>
    {% endfor %}
   </ul>
  </header>

  <section id="main" class="container-fluid">
    {% for sec in sections %}
    {% set sec_loop = loop %}
      <section class="row">
         <div class="col-xs-12">
            <h1>{{ sec['title'] }}</h1>
            {% for cmd in sec['commands'] %}
                {% if cmd['type'] == 'signal' %}
                    <button type="button" class="btn
                        {% if   cmd['importance'] == 'key' %}btn-lg
                        {% elif cmd['importance'] == 'minor' %}btn-sm
                        {% endif %}
                        {% if   cmd['danger'] == 'high' %}btn-danger
                        {% elif cmd['danger'] == 'medium' %}btn-warning
                        {% elif cmd['danger'] == 'low' %}btn-success
                        {% endif %}
                    " btn-loading  ng-click="fire($event, '/cmd/{{ slug }}/{{ sec_loop.index0 }}/{{ loop.index0 }}')">{{ cmd['title'] }}</button>
                {% endif %}
            {% endfor %}
         </div>
      </section>
    {% endfor %}
  </section>

 </body>
</html>
